* {
  margin: 0;
  font-size: 62.5%;
  line-height: 1.15rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  color: #fff;
}

html,
body {
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #000;
}

img,
span {
  display: block;
}

a {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  color: "#374151";
}

.active {
  text-decoration: underline;
}

.container {
  width: 129.8rem;
  margin: 0 auto;
}

.absolute_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%, 100% {
    background: #374151;
    opacity: 1;
  }
  50% {
    background: #6b7280;
    opacity: 0.5;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
