.cover_container {
  width: 100%;
  height: auto;
  min-height: 40rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 575.98px) {
  .cover_container {
    height: 20rem;
    background-size: contain;
  }
}

@media (min-width: 768px) {
  .cover_container {
    height: 40rem;
    background-size: cover;
  }
}

.cover_info {
  align-self: flex-start;
  margin-top: 7.5rem;
}

.cover_items {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: start;
  gap: 2rem;
}

.cover_photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 30rem;
  border-radius: 0.6rem;
  background: #94a3b8;
}

.cover_title {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.8rem;
}

.cover_title__date {
  display: inline;
  margin-left: 0.75rem;
  font-size: 3.2rem;
  line-height: 4.8rem;
  font-weight: 400;
}

.cover_movie__info {
  display: flex;
  gap: 1.2rem;
}

.cover_movie__info {
  margin-top: 0.8rem;
  padding-left: 0;
}

.cover_movie__info li {
  list-style-type: none;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.cover_movie__info li:nth-child(2)::before,
.cover_movie__info li:nth-child(3)::before {
  content: "\00B7";
  padding-right: 1.2rem;
}

.circular_container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.circular_info {
  width: 3rem;
  height: 3rem;
}

.circular_text {
  width: 2.1rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 0.94rem;
}

.cover_user__info {
  display: flex;
  align-items: centerØ;
  gap: 1.6rem;
  margin-top: 2.2rem;
  margin-bottom: 2rem;
}

.cover_description {
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.64rem;
}

.cover_overview {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cover_overview h4 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.64rem;
}

.cover_overview p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.64rem;
}
