.title_lg {
  font-family: "Poppins", "sans-serif";
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 7.2rem;
}

.title_md {
  font-family: "Poppins", "sans-serif";
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
}

.movie_label {
  color: #fff;
  text-decoration: none !important;
}

.draggable_movie__list {
  display: flex;
  gap: 2.8rem;
  overflow-x: scroll;
  padding-top: 0.8rem;
  padding-bottom: 1.59rem;
}

.draggable_movie__list::-webkit-scrollbar {
  appearance: none;
  width: 1.5rem;
  height: 0.8rem;
}

.draggable_movie__list::-webkit-scrollbar-thumb {
  position: absolute;
  background: #d9d9d9;
  border-radius: 2.5rem;
}

.movie_grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2.8rem;
}

.movie_list {
  display: flex;
  gap: 2.8rem;
  padding-top: 0.8rem;
}

.movie_card {
  position: relative;
  min-width: 19.3rem;
  height: 35.5rem;
  border-radius: 0.6rem;
  background-color: #050e12;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_item {
  background: #e11d48;
  height: 28.9rem;
  font-size: 3rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card_item:hover {
  cursor: pointer;
}

.card_icons {
  position: absolute;
  bottom: 1rem;
  right: 1.6rem;
  visibility: hidden;
  display: flex;
  gap: 1.6rem;
}

.card_item:hover .card_icons {
  visibility: visible;
}

.footer_card {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1.8rem 0;
}

.footer_card__title {
  font-family: "Inter", "sans-serif";
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.18rem;
  color: #b6b6b6;
}

.footer_card__year {
  font-family: "Inter", "sans-serif";
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #828282;
}

.icon_watchlist {
  width: 1rem;
  /* height: 2.05rem; */
}

.icon_favorite {
  width: 1.6rem;
  /* height: 1.83rem; */
}
