.search_container {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.search {
  height: 3rem;
  width: 30rem;
  background: transparent;
  font-family: "Roboto", "sans-serif";
  font-size: 1.4rem;
  border: 0;
  outline: 0;
  font-weight: 200;
  letter-spacing: 0.1rem;
}
@media screen and (max-width: 425px) {
  .search {
    width: auto;
  }
}

.search::placeholder {
  color: #fecaca;
}
