.header {
  background: #e11d48;
  display: flex;
  align-items: center;
  height: 100px;
}

.header_brand {
  display: flex;
  align-items: center;
  gap: 1rem;
}


.header_title {
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 7.2rem;
  letter-spacing: 0.35em;
  color: #fff;
}

@media only screen and (max-width: 375px) {
  .header {
    height: auto;
  }

  .header_title {
    font-size: 3.5rem;
    line-height: 4.2rem;
  }

  .header_brand {
    justify-content: start;
    flex-direction: column;
  }
}


.header_menu {
  display: flex;
  gap: 5rem;
}

.header_menu__item {
  color: #fff;
  font-family: "Roboto", "sans-serif";
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.3rem;
  cursor: pointer;
}
