.header {
  background: #e11d48;
  display: flex;
  align-items: center;
  height: 100px;
}

.header_title {
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 7.2rem;
  letter-spacing: 0.35em;
  color: #fff;
}

.header_menu {
  display: flex;
  gap: 5rem;
}

.header_menu__item {
  color: #fff;
  font-family: "Roboto", "sans-serif";
  background: transparent;
  border: none;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.3rem;
  cursor: pointer;
}

.loading {
  display: block;
  width: 5rem;
  height: 5rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
